
.navbar {
  max-width: 300px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 0.8em;
  padding: 0;

  &-item {
    display: inline-block;
    margin-right: 15px;
    border-right: 1px dotted #2bbc8a;
    vertical-align: middle;
  }

  &-link{
    margin-right: 15px;
    color: #26b779;
  }
}