@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

body {
  font-family: 'Slabo', sans-serif;
  background: #1d1f21;
  color: #ddd;
  border-top: 1px solid #ddd;
}

a {
  color: #26b779;
}

h1 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 3px;
}