
<div class="widget-wrap">
<h3 class="widget-title">Twitter</h3>
  <a class="twitter-timeline" href="https://twitter.com/LucasLois95?ref_src=twsrc%5Etfw">Tweets by LucasLois95</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
